* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 20px;
    width: min(500px, 90vh);
    background-color: rgba(15, 155, 83, 0.141);
    margin: 0 auto;  
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.6);
}

.month {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(50px, auto);
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9e7e4;
    cursor: pointer;
}

.day:hover {
    background-color: rgba(15, 155, 83, 0.07);
    transition: all 250ms;
}

.day:active {
    background-color: #333333;
}

.event-marker {
    background-color: #2d54b790;
    border-radius: 10px;
    width: 1.5rem;
    height: 5px;
}

.form {
    display: none;
    /* display: flex; */
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 8px 8px;
    width: 500px;
    background-color: rgba(117, 170, 142, 0.668);
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.6);
    overflow: hidden;
}

.form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tooltip {
    position: absolute;
    background-color: #333333;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 12px;
    z-index: 3;
    visibility: hidden;
    transition: opacity 0.5s;
}

#close-btn {
    cursor: pointer;
    float: left;
    font-size: 20px;
}
#close-btn:hover {
    text-decoration: underline;
}

h2, p, span {
    cursor: default;
    color: #434141;
}

button {
    cursor: pointer;
    border-radius: 10px;
    border: none;
    margin: 5px;
    height: 25px;
}

button:hover {
    background-color: #ffffff;
}

#save-event-btn, #delete-event-btn  {
    width: 50%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
#delete-event-btn {
    background-color: rgb(189, 31, 31);
    color: white;
}


.btns-last {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#event-title {
    border: none;
    border-radius: 10px;
    padding: 0.4rem;
}

#event-description {
    border: none;
    border-radius: 10px;
    padding: 0.4rem;
}

.day.selected {
    background-color: #84c0b3; /* Light blue background */
    border: none;    
}